{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col"></div>
    <!-- <form>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkDefault"
        />
        <label class="form-check-label" for="checkDefault">
          {{weekdays}}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          {{weekdays}}
        </label>
      </div>

      <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="3 PM">3 PM</option>
        <option value="4 PM">4 PM</option>
        <option value="5 PM">5 PM</option>
      </select>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->

    {{ form.day}}
  </div>
</div>

{% endblock %}
