{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<h2 class="text-black">Delete Booking</h2>

<div class="col-12 col-lg-4">
  <p>
    Are you sure you want to delete {{ appointment.timeslot.day }} at
    {{appointment.timeslot.time}}?
  </p>

  <form method="post">
    {% csrf_token %}
    <button type="submit">Yes, delete</button>
  </form>
</div>
{% endblock %}
