{% extends "base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
{% endblock %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="col-12 col-lg-8 checkout-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <hr />
        <h2 class="logo-font mb-4">Thank you</h2>
        <hr />
        <p class="text-black">
          Your order information is below. A confirmation email will be sent to
          <strong>{{ order.email }}</strong>.
        </p>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-7"></div>
      {% if order.appointment %}
      <div class="card mt-4">
        <div class="card-body">
          <h4>Your Appointment</h4>

          <p><strong>Date:</strong> {{ order.appointment.timeslot.day }}</p>
          <p><strong>Time:</strong> {{ order.appointment.timeslot.time }}</p>
        </div>
      </div>
      {% else %}
      <p class="text-muted mt-4">No appointment linked to this order.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
